<% // when you include this pass an object with fields structured as
//   data
//      .title
//      .description
//      .image
//		.link
//
//

%>

<div class="card">
	<img class="lazy" data-src="<%=data.image%>" alt="<%=data.title%>">
	<div class="card-section">
		<h4 class="card-title"><%=data.title%></h4>
		<% if(typeof data.subtitle != 'undefined'){ %>
		<h6 class="card-subtitle"><%=data.subtitle%></h6>
		<% } %>
		<p class="card-description"><%=data.description%></p>
	</div>
	<a class="card-bottom lato" href="<%=data.link%>" target="_blank" aria-label="<%=data.title%>" rel="noopener">Visit</a>
</div>