<form action="/api/posts" method="POST" name="post_form">
	<input name="id" type="hidden" value="<%=post.id%>">
	<label for="title">Title</label>
	<input type="text" name="title" placeholder="Post Title" value="<%=post.title%>" required>
	<textarea id="simpleMDE"></textarea>
	<label for="snippet">Snippet</label>
	<textarea name="snippet"><%=post.snippet%></textarea>
	<label for="image">Image</label>
	<input name="image" type="text" value="<%=post.image%>">
	<button type="button" class="button primary" id="save-post"><i class="ion ion-checkmark"></i> Save</button>
	<button type="button" class="button alert" id="delete-post"><i class="ion ion-close"></i> Delete</button>
	<button type="button" class="button secondary" id="cancel-post">Cancel</button> 
</form>

<script src="/javascripts/vendor/simplemde.min.js"></script>
<script>
var simplemde = new SimpleMDE({ 
	element: document.getElementById("simpleMDE"),
});

// hello, XSS
<% let content = post.content
        .replace("/", "\\")
				.replace(/`/g, '\\`')
				.replace(/\n/g, '\\n')
				.replace(/&amp;/g, '&')
        .replace(/&lt;/g, '<')
        .replace(/&gt;/g, '>')
        .replace(/&quot;/g, '"')
        .replace(/&#039;/g, '\'')
        .replace(/\\x/g, "\\\\x");
%> 
simplemde.value(`<%-content%>`)
</script>