<% var icons  = ['heart', 'coffee', 'icecream', 'pizza', 'fireball', 'waterdrop', 'ios-musical-note', 'social-html5', 'social-windows', 'social-android', 'social-nodejs', 'social-sass'];%>
<% var colors = ['#e74c3c','#6F4E37','#fd79a8', '#f39c12','#e74c3c', '#3498db',    '#000000',     '#e67e22',      '#2E8DEF',        '#B2FF59',        '#76FF03',       '#c69']%>
<% var credit = random(0, icons.length); %>

<% var stylesheets = ['/stylesheets/bundle/bundle-blog-post.css'] %>
<% include partials/header %>
<% include partials/navbar %>

<% let newContent = content
		.replace(/&amp;/g, '&')
        .replace(/&quot;/g, '"')
        .replace(/&#039;/g, '\'')%> 

<div class="grid-x parallax" id="blog-post">
	<div class="parallax-group header-section">
		<div class="parallax-layer parallax-back hero-header" style="background-image: url(<%=image%>)"></div>
		<div class="cell small-12 parallax-layer parallax-base header-text">
			<h1 class="header-title"><%=title%></h1>
			<hr class="small-divider white"/>
			<p id="bio"><%=snippet%></p>
		</div>
	</div>
	<section class="parallax-static section-content post-content">
		<div class="section post">
			<div class="post-meta">
				<div class="meta meta-left">
					<a href="/blog">
						<i class="ion ion-chevron-left"></i> back
					</a>
				</div>
				<div class="meta meta-right">
				</div>
			</div>
			<div class="os" id="blog-post-content"><%-newContent%></div>
			
			<div class="footer">
				<p class="footer-left os">Made with&nbsp;<i class="ion ion-<%=icons[credit]%>" id="credit-icon" data-hover-color="<%=colors[credit]%>" data-open="loginModal"></i></p>
				<p class="footer-right os">Low poly hero from <a href="http://www.roundedhexagon.com/" target="_blank" rel="noopener">Rounded Hexagon</a></p>
			</div>
		</div>
	</section>
</div>

<% include partials/login-modal %>
<% var scripts=['/javascripts/bundle-post.js'] %>
<% include partials/footer%>